In [3]:
import os 
import pandas as pd

In [25]:
cwd = os.getcwd() # dirname(abspath(__file__))
BASE_DIR = os.path.dirname(cwd)
DATA_DIR = os.path.join(BASE_DIR, 'data')
CACHE_DIR = os.path.join(BASE_DIR, 'cache')
working_file = os.path.join(CACHE_DIR, 'movies-box-office-dataset.csv')
output_file = os.path.join(CACHE_DIR, 'movies-box-office-dataset-cleaned.csv')

In [26]:
df = pd.read_csv(working_file)

In [27]:
df.head(n=1200)

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,filename,year
0,1,The Eight Hundred,"$461,421,559","$372,755",<0.1%,"$461,048,804",99.9%,2020.csv,2020
1,2,Demon Slayer the Movie: Mugen Train,"$453,210,959","$49,505,008",10.9%,"$403,705,951",89.1%,2020.csv,2020
2,3,Bad Boys for Life,"$426,505,244","$206,305,244",48.4%,"$220,200,000",51.6%,2020.csv,2020
3,4,"My People, My Homeland","$422,390,820",-,-,"$422,390,820",100%,2020.csv,2020
4,5,Tenet,"$365,294,355","$58,504,105",16%,"$306,790,250",84%,2020.csv,2020
...,...,...,...,...,...,...,...,...,...
1195,196,The Golden Bowl,"$5,753,678","$3,050,532",53%,"$2,703,146",47%,2001.csv,2001
1196,197,A Fish Tale,"$5,595,327","$563,911",10.1%,"$5,031,416",89.9%,2001.csv,2001
1197,198,Made,"$5,480,653","$5,313,300",96.9%,"$167,353",3.1%,2001.csv,2001
1198,199,Read My Lips,"$5,393,526","$1,471,911",27.3%,"$3,921,615",72.7%,2001.csv,2001
1199,200,Charlotte Gray,"$5,323,109","$741,394",13.9%,"$4,581,715",86.1%,2001.csv,2001

In [28]:
df['Rank'] = -1

In [29]:
df.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,filename,year
0,-1,The Eight Hundred,"$461,421,559","$372,755",<0.1%,"$461,048,804",99.9%,2020.csv,2020
1,-1,Demon Slayer the Movie: Mugen Train,"$453,210,959","$49,505,008",10.9%,"$403,705,951",89.1%,2020.csv,2020
2,-1,Bad Boys for Life,"$426,505,244","$206,305,244",48.4%,"$220,200,000",51.6%,2020.csv,2020
3,-1,"My People, My Homeland","$422,390,820",-,-,"$422,390,820",100%,2020.csv,2020
4,-1,Tenet,"$365,294,355","$58,504,105",16%,"$306,790,250",84%,2020.csv,2020

In [30]:
df['domestic %'] = df['%']
df['foregin %'] = df['%.1']
df.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,filename,year,domestic %,foregin %
0,-1,The Eight Hundred,"$461,421,559","$372,755",<0.1%,"$461,048,804",99.9%,2020.csv,2020,<0.1%,99.9%
1,-1,Demon Slayer the Movie: Mugen Train,"$453,210,959","$49,505,008",10.9%,"$403,705,951",89.1%,2020.csv,2020,10.9%,89.1%
2,-1,Bad Boys for Life,"$426,505,244","$206,305,244",48.4%,"$220,200,000",51.6%,2020.csv,2020,48.4%,51.6%
3,-1,"My People, My Homeland","$422,390,820",-,-,"$422,390,820",100%,2020.csv,2020,-,100%
4,-1,Tenet,"$365,294,355","$58,504,105",16%,"$306,790,250",84%,2020.csv,2020,16%,84%

In [31]:
#df.drop(columns=['%', '%.1'])
df.drop(['%', '%.1'], axis=1, inplace=True)

In [32]:
df.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,domestic %,foregin %
0,-1,The Eight Hundred,"$461,421,559","$372,755","$461,048,804",2020.csv,2020,<0.1%,99.9%
1,-1,Demon Slayer the Movie: Mugen Train,"$453,210,959","$49,505,008","$403,705,951",2020.csv,2020,10.9%,89.1%
2,-1,Bad Boys for Life,"$426,505,244","$206,305,244","$220,200,000",2020.csv,2020,48.4%,51.6%
3,-1,"My People, My Homeland","$422,390,820",-,"$422,390,820",2020.csv,2020,-,100%
4,-1,Tenet,"$365,294,355","$58,504,105","$306,790,250",2020.csv,2020,16%,84%

In [33]:
df['Worldwide'] = df['Worldwide'].replace("$", "").replace(",", "")
df.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,domestic %,foregin %
0,-1,The Eight Hundred,"$461,421,559","$372,755","$461,048,804",2020.csv,2020,<0.1%,99.9%
1,-1,Demon Slayer the Movie: Mugen Train,"$453,210,959","$49,505,008","$403,705,951",2020.csv,2020,10.9%,89.1%
2,-1,Bad Boys for Life,"$426,505,244","$206,305,244","$220,200,000",2020.csv,2020,48.4%,51.6%
3,-1,"My People, My Homeland","$422,390,820",-,"$422,390,820",2020.csv,2020,-,100%
4,-1,Tenet,"$365,294,355","$58,504,105","$306,790,250",2020.csv,2020,16%,84%

In [34]:
to_clean_col = ['Worldwide', 'Domestic', 'Foreign']
def currency_str_to_int(current_val):
    currency_val = current_val.replace("$", "").replace(",", "")
    try:
        currency_val = int(currency_val)
    except:
        currency_val = 0
    return currency_val
def clean_col(row):
    """
    row = Pandas Series
    dataframe = collection of pandas series
    """
    # print(row)
    for col in to_clean_col:
        current_val = row[col]
        row[col] = currency_str_to_int(current_val)
    return row
df_cleaned = df.apply(clean_col, axis=1)
df_cleaned.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,domestic %,foregin %
0,-1,The Eight Hundred,461421559,372755,461048804,2020.csv,2020,<0.1%,99.9%
1,-1,Demon Slayer the Movie: Mugen Train,453210959,49505008,403705951,2020.csv,2020,10.9%,89.1%
2,-1,Bad Boys for Life,426505244,206305244,220200000,2020.csv,2020,48.4%,51.6%
3,-1,"My People, My Homeland",422390820,0,422390820,2020.csv,2020,-,100%
4,-1,Tenet,365294355,58504105,306790250,2020.csv,2020,16%,84%

In [35]:
df_cleaned.dtypes

Rank              int64
Release Group    object
Worldwide         int64
Domestic          int64
Foreign           int64
filename         object
year              int64
domestic %       object
foregin %        object
dtype: object

In [36]:
df.dtypes

Rank              int64
Release Group    object
Worldwide        object
Domestic         object
Foreign          object
filename         object
year              int64
domestic %       object
foregin %        object
dtype: object

In [37]:
df_cleaned.sort_values(by=['Worldwide'], inplace=True, ascending=False)
df_cleaned.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,domestic %,foregin %
600,-1,Avengers: Endgame,2797501328,858373000,1939128328,2019.csv,2019,30.7%,69.3%
1200,-1,Star Wars: Episode VII - The Force Awakens,2068223624,936662225,1131561399,2015.csv,2015,45.3%,54.7%
800,-1,Avengers: Infinity War,2048359754,678815482,1369544272,2018.csv,2018,33.1%,66.9%
200,-1,Spider-Man: No Way Home,1906693477,804793477,1101900000,2021.csv,2021,42.2%,57.8%
1201,-1,Jurassic World,1670400637,652270625,1018130012,2015.csv,2015,39%,61%

In [38]:
df_cleaned.reset_index(inplace=True, drop=True)
df_cleaned.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,domestic %,foregin %
0,-1,Avengers: Endgame,2797501328,858373000,1939128328,2019.csv,2019,30.7%,69.3%
1,-1,Star Wars: Episode VII - The Force Awakens,2068223624,936662225,1131561399,2015.csv,2015,45.3%,54.7%
2,-1,Avengers: Infinity War,2048359754,678815482,1369544272,2018.csv,2018,33.1%,66.9%
3,-1,Spider-Man: No Way Home,1906693477,804793477,1101900000,2021.csv,2021,42.2%,57.8%
4,-1,Jurassic World,1670400637,652270625,1018130012,2015.csv,2015,39%,61%

In [39]:
df_cleaned['Rank'] = df_cleaned.index + 1
df_cleaned.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,domestic %,foregin %
0,1,Avengers: Endgame,2797501328,858373000,1939128328,2019.csv,2019,30.7%,69.3%
1,2,Star Wars: Episode VII - The Force Awakens,2068223624,936662225,1131561399,2015.csv,2015,45.3%,54.7%
2,3,Avengers: Infinity War,2048359754,678815482,1369544272,2018.csv,2018,33.1%,66.9%
3,4,Spider-Man: No Way Home,1906693477,804793477,1101900000,2021.csv,2021,42.2%,57.8%
4,5,Jurassic World,1670400637,652270625,1018130012,2015.csv,2015,39%,61%

In [40]:
df_cleaned['domestic %'] =  df_cleaned['Domestic'] / df_cleaned['Worldwide'] 
df_cleaned['foregin %'] =  df_cleaned['Foreign'] / df_cleaned['Worldwide']

In [41]:
df_cleaned.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,domestic %,foregin %
0,1,Avengers: Endgame,2797501328,858373000,1939128328,2019.csv,2019,0.306836,0.693164
1,2,Star Wars: Episode VII - The Force Awakens,2068223624,936662225,1131561399,2015.csv,2015,0.452882,0.547118
2,3,Avengers: Infinity War,2048359754,678815482,1369544272,2018.csv,2018,0.331395,0.668605
3,4,Spider-Man: No Way Home,1906693477,804793477,1101900000,2021.csv,2021,0.422089,0.577911
4,5,Jurassic World,1670400637,652270625,1018130012,2015.csv,2015,0.390488,0.609512

In [42]:
df_cleaned.dtypes

Rank               int64
Release Group     object
Worldwide          int64
Domestic           int64
Foreign            int64
filename          object
year               int64
domestic %       float64
foregin %        float64
dtype: object

In [43]:
df_cleaned.to_csv(output_file, index=False)